h1  {
    text-align:center;
    color: gold;
    font-family: Rye;
    font-size: 6rem;
}

.splash {
    height: 100vh;
    background-image: url(https://media.giphy.com/media/l41lN3INXMPUTMQak/giphy.gif);
    background-repeat: no-repeat;
    background-size: 100%;
}

h3  {
    font-size: xx-small;
}

.container{
  background-color: black;
  width: 100%;
}

#foot a {
  background-color: gold;
}

#foot a:hover{
  background-color: springgreen;
}

#button {
  background-color: springgreen;
}
.nav {
    background-color: ;
    color: gold;
    font-size: 1rem;
    font-family: Rye;

}

body {
  background-color: black;
  font-family: Rye;
  color: orangered;
}

.header {
    background-color: black;
    font-size: 2rem;
    padding: 1rem;
    font-family: Rye;
    width: 100%;
}

.footer {
  width: 100%;
  background-color: black;
  color: gold;
  position: absolute;
  bottom: 1;
  font-family: Rye;
}

/*confirmation.html*/
h2  {
    color: red;
    font-family: Rye;
    font-size: 3.5rem;
}

h4 {
    color: orange;
    font-family: Rye;
    font-size: 2.5rem;
}
