{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>MrNiceGuy</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='http://fonts.googleapis.com/css?family=Rye&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'order_manager/style.css' %}">
  </head>
    <body>
      <form>
      <div class="header">
      </div>
    </form>
    </body>
    <div class="footer">
    </div>
</html>
