{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <title>MrNiceGuy</title>
    <link href='http://fonts.googleapis.com/css?family=Rye&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'order_manager/style.css' %}">
  </head>
  <body>
      {% for item in prices %}
      <p>{{item.strain}}</p>
      <p>{{price.pk}}</p>
      {% endfor %}
      <div class="header">
        <h2>Thanks!! Your order has been processed and will be ready for pickup</h2>
        <br>
        <h4>Looks like your day is fixin to get a whole lot better!! Mr.NiceGuy:) </h4>
        </br>
      </div>
    <div class="footer">
      <p id="foot"><a href="{% url 'home' %}">Click here to return to Homepage</a></p>
    </div>
  </body>
</html>
